# 可以用urllib.request或是用 requests 當爬蟲, 這邊的例子是選用requests
## 第二層
### 第三層
#### 第四層
##### 第五層

### import requests package
使用get function可直接久寫入url

In [10]:
import requests
res = requests.get('http://www.wibibi.com/info.php?tid=116')

In [15]:
# 轉檔 
# 讀回來的文字檔先轉檔一次

res.encoding = 'utf-8' # 'big5'

### 轉成DataFrame

接下來的步驟，我們要將文字檔中的table轉成DataFrame，主要可以分成兩個步驟：
* 存成 html 檔
* 用 pandas 讀取 html 檔

In [16]:
# 存檔
# 寫入的檔已經轉檔過一次了, 寫檔時同時也要做相關的轉檔

f = open('test.html', 'w', encoding='utf-8') # 新建的檔名是test.html, "w" 表示寫入, 使用utf-8編碼
f.write(res.text)  # 將網頁的htmlt檔寫入 test.html 
f.close()          # 關檔

In [17]:
# 讀檔並轉成DataFrame
# 利用pandas裡讀html的語法

import pandas as pd
dfs = pd.read_html('test.html')

In [9]:
dfs[3]

              0             1
0        這裡是第一行           NaN
1  這裡是第二行的第一個欄位  這裡是第二行的第二個欄位

### 轉成DataFrame（快速版）

其實也可以只寫成一個步驟（但還是建議先存起來）

In [19]:
# 不存檔直接轉成DataFrame
from io import StringIO

dfs = pd.read_html(StringIO(res.text))
dfs[3]

              0             1
0        這裡是第一行           NaN
1  這裡是第二行的第一個欄位  這裡是第二行的第二個欄位

In [22]:
# 重新整理一次

import requests
from io import StringIO

res = requests.get('http://www.wibibi.com/info.php?tid=116')
res.encoding = 'utf-8' # 'big5'
dfs = pd.read_html(StringIO(res.text))
dfs[3]

              0             1
0        這裡是第一行           NaN
1  這裡是第二行的第一個欄位  這裡是第二行的第二個欄位

In [26]:
import datetime
date = datetime.datetime(2018,1,2)
date

datetime.datetime(2018, 1, 2, 0, 0)

In [28]:
sdatestr = date.strftime('%Y%m%d')
datestr

'20180102'